.feature-item {
    position: relative;

    @mixin atSmall {
        padding-left: 94px;

    }

    &__icon {
        display: block;
        margin: 0 auto;
        @mixin atSmall {
            position: absolute;
            left: 0;
            display: inline-block;

        }
    }

    &__title {
        margin-bottom: .4rem;
        font-size: 1.875rem;
        font-weight: 300;
        text-align:  center;

        @mixin atSmall {
            text-align: left;
            margin-bottom: .8rem;
        
        }
    }
}