.modal {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(#fff, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);

    &--is-visible{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    
    &__description {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 300;
        line-height:1.6;
    }

    &__close {
        position: absolute;
        right: 15px;
        top: 15px; 
        font-size: 2rem;
        transform: scale(1.2);
        transform-origin: 100% 0;
        color: $mainBlue;
        cursor: pointer;

        &:hover {
            color: $mainOrange;
        }
    }
    &__inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width:100%
        
    }

}