.primary-nav {
    padding-top: 10px;

    @mixin atMedium {
        padding-top: 0;
    }

    &--pull-right {
        float: right;
    }

    ul {
        margin: 0;
        padding: 0;
        @mix clearfix;
    }

    li {
        list-style: none;
        float: left;
        padding-right: 7px;     
        @mixin atMedium {
            padding-right:20px;
        }   
    }
    a {
        padding: 8px 2px;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        display: block;
        background-color: rgba($mainBlue, 0.5);

        @mixin atSmall {
            padding: 12px 0;
            background-color: transparent;

        
        }
    }

}