.row {

    @mixin clearFix;

    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }
    
    @mixin atMedium {

        &__b-margin-until-medium {
            margin-bottom: 0;
        }

        &__medium-4 {
            width:33.33%;
            float: left;

            &--larger {
                width: 37%;
            }
        }

        &__medium-6 {
            width: 50%;
            float: left;
        }
        
        &__medium-8 {
            width: 66.66%;
            float: left;

            &--smaller {
                width: 63%;
            }
        }
    }


    &--gutters {
        margin-right: -65px;
    }

    &--gutters-large {
        margin-right: -100px;
    }

    &--gutters > div {
        padding-right: 65px;
    }

    &--gutters-large > div {
        padding-right: 100px;
    }
}